.change-password{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.change-password .new-password{
    width: 30%;
    border: 1px solid #d7dde8;
    border-radius: 5px;
    color: #d7dde8;
}

.new-password::placeholder{
    color: #d7dde8;
    font-size: 13px;
}

.btn-change-password{
    width: 18%;
    height: 35px;
    margin:  25px;
    border-radius: 5px;
    border: none;
    color: hsla(191, 28%, 23%, 1);
    font-size: 18px;
    cursor: pointer;
    background: #d7dde8;
}

.change-password .message{
    color: #d7dde8;
    font-size: 20px;
}

.info-change-password{
    color: #d7dde8; 
    font-size: 13px;
    margin: 0 0 15px 0;
    width: 30%;
 }