.container-register {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-register form {
    background: linear-gradient(to right, #757f9a, #d7dde8);
    width: 600px;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

form input {
    width: 70%;
    height: 35px;
    background-color: transparent;
    border: none;
    border-bottom: rgb(0, 0, 0) 1px solid;
    color: rgb(2, 2, 2);
    font-size: 16px;
    margin: 15px;
}

.btn-register {
    width: 70%;
    height: 35px;
    margin: 25px;
    border-radius: 5px;
    border: none;
    color: #d7dde8;
    font-size: 18px;
    cursor: pointer;
    background: linear-gradient(90deg, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);
}

.btn-register:hover {
    background: hsla(207, 41%, 27%, 1);
}

.link {
    text-decoration: none;
    color: hsla(191, 28%, 23%, 1);
}

.link-register {
    font-weight: 500;
    color: hsla(191, 28%, 23%, 1);
}

.info-password {
    font-size: 13px;
    margin: 0 0 15px 0;
    width: 70%;
}

@media screen and (max-width: 768px) {
    .container-register {
        height: auto;
        padding-top: 20px;
    }

    .container-register form {
        width: 90%;
        height: auto;
    }
    form input{
        font-size: 13px!important;
        margin: 10px;
    }
    .container-register img{
        height: 40px;
        margin-top: 10px;
    }
    h2{
        font-size: 18px;
    }
    .container-register p{
        font-size: 14px;
    }
    .btn-register{
        width: 40%;
        height: 30px;
        font-size: 16px;
    }
    .info-password{
        font-size: 10px!important;
    }
}